[submodule "dotfiles/.oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = dotfiles/.oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "dotfiles/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = dotfiles/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotfiles/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = dotfiles/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "dotfiles/.vim/bundle/nerdtree"]
	path = dotfiles/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "dotfiles/.vim/bundle/commentary"]
	path = dotfiles/.vim/bundle/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "dotfiles/.vim/bundle/vim-devicons"]
	path = dotfiles/.vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "dotfiles/.vim/bundle/vim-airline"]
	path = dotfiles/.vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "dotfiles/.vim/bundle/auto-pairs"]
	path = dotfiles/.vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "dotfiles/.vim/bundle/base16-vim"]
	path = dotfiles/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "dotfiles/.vim/bundle/vim-highlightedyank"]
	path = dotfiles/.vim/bundle/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule "dotfiles/.vim/bundle/vim-exchange"]
	path = dotfiles/.vim/bundle/vim-exchange
	url = https://github.com/tommcdo/vim-exchange.git
[submodule "dotfiles/.vim/bundle/vim-easymotion"]
	path = dotfiles/.vim/bundle/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "dotfiles/.vim/bundle/ReplaceWithRegister"]
	path = dotfiles/.vim/bundle/ReplaceWithRegister
	url = https://github.com/vim-scripts/ReplaceWithRegister.git
[submodule "dotfiles/.vim/bundle/vim-multiple-cursors"]
	path = dotfiles/.vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
